.form-register {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-register .checkbox {
    font-weight: 400;
  }
  .form-register .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-register .form-control:focus {
    z-index: 2;
  }

  .form-register input:not(:first-of-type) {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  .form-register input:not(:last-of-type) {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .form-register input {
    margin-bottom: -1px;
  }

  .form-register input.end {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }